{% extends 'base.html' %}
{% block body_block %}
{% load static %}
    <div class="shadow">
        <h3>Acest site este creat cu Python in framework-ul Django</h3>
        <img src = "{% static 'images/image4.jpg' %}">
        <h4>Sorin Avram - Cluj-Napoca, 07.2021</h4>
        <div class="align">
        <strong>Contact:</strong><br>
             - Email: <a href="mail:sorinace@gmail.com">sorinace@gmail.com</a><br>
             - Tel.: <a href="tel:0040740165124">0740 165 124</a><br>
             - Linkedin: <a href="https://www.linkedin.com/in/sorin-avram-developer/">Sorin Avram</a><br>
             - GitHub: <a href="https://github.com/Sorinace">Sorinace</a>
        </div>
    </div>
{% endblock %}