{% extends 'base.html' %}
{% block body_block %}
{% load static %}
    <div class="shadow">
        <img src = "{% static 'images/image4.jpg' %}">
        <h3>Aceast site este creat cu Python in framework-ul Django</h3>
        <h3>Sorin Avram - 07.2021</h3>
        <div>
            Contact:<br>
             - email: <a href="mail:sorinace@gmail.com">sorinace@gmail.com</a><br>
             - tel.: 0740 165 124<br>
             - linkedin: <a href="https://www.linkedin.com/in/sorin-avram-developer/">Sorin Avram</a>
        </div>
    </div>
{% endblock %}