{% extends "base.html" %}
{% block body_block %}
{% if user.is_authenticated %}
{% if messages %}
<div class="main shadow">
  <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-danger" >
        <h3><strong>Eroare:</strong></h3>
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      </div>
      {% endfor %}
  </ul>
</div>
{% else %}
{% load static %}
  <div class="shadow">
    <h3>Aceste teste au fost atribuite:</h3>
    <img src = "{% static 'images/image3.jpg' %}">
      <form action="/asigned/" method="post">
      {% csrf_token %}
      <table class="assign-table">
        <tr>
          <th>Atribuit pentru</th>
          <th>Numele testului</th>
          <th>Expira la data</th>
        </tr>
      {% for item in page_obj %}
            <tr>
              <td>
                  <input class="form-check-input" type="radio" name="assign" value={{item.id}}>
                  <label class="form-check-label">
                  {{item.name}}
                  </label>
              </td>
              <td>{{item.psihotest.text}}</td>
              <td>{{item.data}}</td>
            </tr>
        {% endfor %}
      </table>
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; prima</a>
                  <a href="?page={{ page_obj.previous_page_number }}"> | anteriora | </a>
              {% endif %}
      
              <span class="current">
                  Pagina {{ page_obj.number }} din {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}"> | urmatoarea | </a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
              {% endif %}
          </span>

        <div class="operation-select">
          <select name="option">
            <option value="0">-- Selecteaza o actiune --</option>
            <option value="1">Modifica</option>
            <option value="2">Sterge</option>
            <option value="3">Retrimite e-mail</option>
          </select>
        </div>
        <div class="btn_center flex-container">
          <input class="btn_submit" type="submit" value="Aplica">
        </div>
        </form>

  </div>
{% endif %}
{% else %}
  <div class="shadow">
    <h3>Pentru a putea vedea testele atribuite, trebuie sa fiti inregistrati</h3>
    <a class="login" href="{% url 'login' %}">Log In</a>
  </div>
{% endif %}
<script>
  // If i have a message, print it
if ("{{text}}") {
  alert("{{text}}");
}
  </script>
{% endblock %}
