{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} - Assign {% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
    {% load static %}
    {% if messages %}
    <div class="shadow">
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-danger" >
              <h3><strong>Eroare:</strong></h3>
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
        </ul>
      </div>
    {% else %}
    <div class="shadow">
        <h3 class="test">{{ title }}</h3>
        <img src = "{% static 'images/image5.jpg' %}">
        <div >
        <form action="/asign/" method="post">
            {% csrf_token %}
            <div style="display: none;"><!--  hidden data -->
                <input type="text" name="id" value={{id}}></p>
            </div>
                <table class="operation-select">
                    <tr>
                        {{ form.as_table }}
                    </tr>
                </table> 
            <div class="btn_center">
                <input class="btn_submit" type="submit" value="Atribuie">
            </div>
        </div>
        </form>
    </div>
    <br/>
    {% endif %} 
{% else %}
    <div class="shadow">
        <h3>Pentru a putea atribuii teste, trebuie sa fiti inregistrati</h3>
        <a class="login" href="{% url 'login' %}">Log In</a>
    </div>
{% endif %}   
<script>
// add data to form
    if ("{{ model.name }}") {
        document.getElementById('id_psihotest').value = "{{ model.psihotest.pk }}";
        document.getElementById('id_name').value = "{{ model.name }}";
        document.getElementById('id_email').value = "{{ model.email }}";
        document.getElementById('id_message').value = "{{ model.message }}";
        document.getElementById('id_data_month').value = "{{ model.data.month }}";
        document.getElementById('id_data_day').value = "{{ model.data.day }}";
        document.getElementById('id_data_year').value = "{{ model.data.year }}";
    }
</script>
{% endblock %}