<!DOCTYPE html>
<html>
<head>
    <title>PsihoTest</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href=" ../static/css/styles.css" type="text/css">
  </head>
<body>
  <center>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav ">
          <li><a class="active" href="{% url 'home' %}">Acasa</a></li>
          <li><a class="" href="{% url 'asigned' %}">In lucru</a></li>
          <li><a class="" href="{% url 'asign' %}">Atribuie</a></li>
          <li><a class="" href="{% url 'about' %}">Despre</a></li>
          <li style="float:right"><a class="" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
      </div>
    </nav>
  </center>
    <div class="container">
      {% block body_block %}
      <div class="shadow">
        <h1 class="test">Aceasta este o platforrma de testare</h1>
        <h3>Cum functioneaza?</h3>
        <div> <ul>
          <li>Platforma permite sa atribuiti un test pentru o persoana pe baza adresei de e-mail. </li>
          <li>Persoana testata va primi un e-mail cu linkul testului pe care doriti sa-l realizeze.</li>
          <li>Dupa testare veti primi un e-mail cu testul completat. </li>
        </ul> 
        <br/>
      </div>
      
      {% endblock %}
    </div>

    <script>
      // Add active class to the current button (highlight it)
      var header = document.getElementById("nav");
      var btns = header.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
      }
      </script>
</body>
</html>