{% extends "base.html" %}
{% block body_block %}
{% load static %}
{% if messages %}
<div class="shadow">
  <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-danger" >
        <h3><strong>Eroare:</strong></h3>
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      </div>
      {% endfor %}
  </ul>
</div>
{% else %}
<div class="shadow">
    <h3>Va rog sa raspundeti la intrebarile de mai jos:</h3>
    <img src = "{% static 'images/quiz.jpg' %}">
  <div class="alert alert-warning" role="alert"> 
    <h3> {{psihotest.text}}</h3>
    <p>
        {% autoescape off %}
        {{psihotest.story}}
        {% endautoescape %} 
      </p>
  </div>
  <div class="questions">
    <form action="/answer/" method="post">
      {% csrf_token %}
      <div style="display: none;"><!--  hidden data -->
          <input type="text" name="id" value={{id}}></p>
      </div>
      <div class="card">
        <ol>
        {% for question in psihotest.questions.all %}
        <div class="shadow">
          <div class="card-header">
            <li >{{question.text}}</li>
          </div>
          <ul class="list-group list-group-flush">
            {% for answer in question.answers.all %}
              <div class="form-check list-group-item">
                <input class="form-check-input" type="radio" name={{question.id}} value={{answer.id}}>
                <label class="form-check-label">
                  {{answer.text}}
                </label>
              </div>
            {% endfor %}
            <br/>
          </ul>
        </div>
        {% endfor %}
        </ol>   
      
      <div class="btn_center">
        <input class="btn_submit" type="submit" value="Trimite">
      </div>
    </div>
  </form>
  </div>
</div>
{% endif %}
{% endblock %}
