{% extends 'base.html' %}
{% block body_block %}
{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" >
      <h3><strong>Eroare:</strong></h3>
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% else %}
  <div class="shadow">
    <img src = "{% static 'images/image2-1.jpg' %}">
    <div class="card">
      <h3>Salvat cu succes!<br>Va multumim!</h3>
    </div>
  </div>
{% endif %}
{% endblock %}