<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} - Autentificare {% endblock %}
{% block body_block %}
<div class="shadow">
  <h3>Autentificare:</h3>
  <img src = "{% static 'images/login.jpg' %}">
  <div class="align">
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table> 
      <button class="btn_submit" type="submit">Autentifica</button>
    </form>
  </div>
</div>
{% endblock %}