body {
    background-color: #FFF1C1;
    color: #1e2420;
    border-color: #a64942;
}
.navbar {
    background-color: #a64942;
   
}

.navbar-link {
    color:cornsilk !important; 
}

.navbar-brand {
    color:aliceblue !important; 
}


.card-header {
    font-size:2em;
    color: rgb(0, 217, 255);
}

.questions {
    margin-left:10%;
    margin-right: auto
}

.btn_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.form-check-label {
    font-size:1.3em;
}

th {
    padding: 3px;
}

td {
    width: 70%;
}

#id_message, #id_name, #id_email,#id_psihotest {
    width: 100%;
}

table {
    border-spacing: 5px;
    width: 80%
}

.card {
    width: 50%;
}
